/* start global css style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --transition-function: all 0.3s;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  background-color: #fafafa;
  border: 2px solid black;
}
::selection {
  background-color: #ffd15b;
  color: black;
}
.container {
  width: 85%;
  margin: auto;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
}
button {
  cursor: pointer;
}
/* end global css style */

/* start nav */
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 1rem;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 1rem;
  background-color: white;
  border: 2px solid black;
}
nav .container .logo h1 {
  color: #111;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  cursor: pointer;
}
nav .container .logo h1 span {
  color: #ff6900;
}
nav .nav-links ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .nav-links ul li {
  display: flex;
  align-items: center;
}
nav .nav-links ul li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
nav .nav-links ul li a:hover {
  color: #ff6900;
}
nav .nav-links ul li img {
  width: 1.5rem;
  margin-left: 1rem;
}
nav .nav-btn button {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 38px;
  background-color: #ffd15b;
  transition: all 0.15s;
}
nav .nav-btn button:hover {
  transform: translate(3px, 3px);
}
/* end nav */
/* start sec-one  */
.sec-one {
  background-color: #fff085;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 150px 0 50px;
  position: relative;
}
.sec-one .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.sec-one .text-sec-one {
  width: 45%;
}
.trending {
  margin-bottom: 24px;
}
.trending span {
  display: inline-block;
  background-color: #000000;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 16px;
  border: 2px solid rgb(0, 0, 0);
  transform: rotate(-3deg);
  box-shadow: 2px 3px #000000;
}
.sec-one .text-sec-one .head-sec-one {
  margin-bottom: 2rem;
}
.sec-one .text-sec-one .head-sec-one h2 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 90px;
}
.sec-one .text-sec-one .head-sec-one h2 span {
  text-shadow: 3px 3px 0 #33301b;
}
.sec-one .text-sec-one .head-sec-one h2 span.two {
  color: #e7000b;
}
.sec-one .text-sec-one .head-sec-one h2 span.three {
  color: #155dfc;
}
.sec-one .text-sec-one p {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: white;
  border: 2px solid black;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  box-shadow: 3px 3px 0px 0px #000;
}
.sec-one .text-sec-one .sec-one-btn,
.articles-header .head .sec-two-btn,
.community-parent .sec-four-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sec-one .text-sec-one .sec-one-btn button,
.articles-header .head .sec-two-btn button,
.community-parent .sec-four-btn button {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  border: 4px solid black;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #000;
  transition: var(--transition-function);
}

.sec-one .text-sec-one .sec-one-btn button:hover,
.articles-header .head .sec-two-btn button:hover,
.community-parent .sec-four-btn button:hover {
  box-shadow: 0px 0px 0px 0px #000;
  transform: translate(5px, 5px);
}
.sec-one .text-sec-one .sec-one-btn .btn-two {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.sec-one .text-sec-one .sec-one-btn .image,
.articles-header .head .sec-two-btn .image,
.community-parent .sec-four-btn .image {
  width: 30px;
  margin-right: 4px;
}
.right-sec-one {
  width: 45%;
  position: relative;
}
.sec-one .image-sec-one {
  width: 100%;
  height: calc(0.25rem * 96);
  border: 4px solid black;
  box-shadow: 6px 6px #000;
  transform: rotate(2deg);
  background-image: url(../Images/hero-img.png);
  background-position: center;
  background-size: cover;
  transition: var(--transition-function);
  position: relative;
}
.sec-one .image-sec-one:hover {
  transform: translate(-2px, -2px) rotate(2deg);
}
.sec-one .container .right-sec-one .txt {
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: 20;
  background-color: #fb2c36;
  color: white;
  padding: 0.5rem 1rem;
  transform: rotate(12deg);
  box-shadow: 4px 4px #000000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  border: 2px solid black;
}

/* end sec-one   */

/* start ARTICLES sectiom  */
.articles-sec {
  padding: 80px 0;
  border: 2px solid black;
}
.articles-header .head {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: flex-start;
}
.articles-header .left {
  width: 65%;
}
.articles-header .head .right {
  width: 33%;
  position: sticky;
  top: 50px;
}
.articles-header .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}
.articles-header .header h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
}
.articles-header .header .trending span {
  transform: rotate(2deg);
}
.articles-header .head .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2rem;
  border: 4px solid black;
  transition: var(--transition-function);
  box-shadow: 4px 4px #000000;
  margin-bottom: 2rem;
}
.articles-header .head .card:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px #000;
}
.articles-header .head .card:hover h3 {
  color: #e7000b;
}
.articles-header .head .card-two:hover h3 {
  color: #2b7fff;
}
.articles-header .head .card-three:hover h3 {
  color: #ad46ff;
}
.articles-header .card .card-image {
  position: relative;
  width: 25%;
}
.tag {
  position: absolute;
  padding: 0.25rem 0.5rem;
  background-color: #e7000b;
  color: white;
  border: 2px solid black;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  transform: rotate(12deg);
  top: -0.5rem;
  right: 1.5rem;
}
.articles-header .card-two .tag {
  transform: rotate(-12deg);
  background-color: #2b7fff;
}
.articles-header .card-three .tag {
  transform: rotate(45deg);

  background-color: #ad46ff;
}
.articles-header .card .card-image .image {
  width: calc(0.25rem * 40);
  height: calc(0.25rem * 32);
  border: 2px solid black;
}
.articles-header .card .card-image .image img {
  width: 100%;
  height: 100%;
}
.articles-header .card .card-text {
  width: 70%;
}
.articles-header .card .card-text .tag-two {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 2px solid black;
  margin-bottom: 12px;
  background-color: #ffdf20;
  color: #000;
  transform: rotate(-1deg);
  box-shadow: 3px 3px #000;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}
.articles-header .card-two .card-text .tag-two {
  background-color: #7bf1a8;
}
.articles-header .card-three .card-text .tag-two {
  background-color: #fda5d5;
}
.articles-header .card .card-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 12px;
  transition: var(--transition-function);
}
.articles-header .card .card-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 1rem;
}
.articles-header .card .card-text .card-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.articles-header .card .card-text .card-icons .icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.articles-header .card .card-text .card-icons .image {
  width: 20px;
  margin-right: 0.5rem;
}
.red-col {
  color: #e7000b;
}
.articles-header .head .sec-two-btn {
  width: 100%;
}
.articles-header .head .sec-two-btn button {
  margin: 0 auto;
}
/* start right */
.right .one {
  margin-bottom: 2rem;
}
.right .detials {
  padding: 2rem;
  box-shadow: 6px 6px #000;
  border: 4px solid #000;
  background-color: #ffffff;
}
.right .detials h3 {
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 24px;
}
.right .detials .item {
  display: flex;
  flex-wrap: wrap;
}
.right .detials .item-space {
  margin-bottom: 24px;
}
.right .detials .item span {
  color: #fb2c36;
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
  margin-right: 1rem;
}
.right .detials .item span.span-two {
  color: #42a5f5;
}
.right .detials .item span.span-three {
  color: #ad46ff;
}
.right .detials .item-text h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.right .detials .item-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #525252;
}
/* hover */
.right .item-one:hover h4 {
  color: #fb2c36;
}
.right .item-two:hover h4 {
  color: #42a5f5;
}
.right .item-three:hover h4 {
  color: #ad46ff;
}
/*end hover */
/*start two */

.two .detials .options .option {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  transition: var(--transition-function);
}
.two .detials .options .option1 {
  background-color: #fef9c2;
}
.two .detials .options .option2 {
  background-color: #dcfce7;
}
.two .detials .options .option3 {
  background-color: #fce7f3;
}
.two .detials .options .option4 {
  background-color: #dbeafe;
}
.two .detials .options .option5 {
  background-color: #f3e8ff;
}
/* hover */

.two .detials .options .option:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px #000;
}
.two .detials .options .option1:hover {
  background-color: #ffdf20;
}
.two .detials .options .option2:hover {
  background-color: #7bf1a8;
}
.two .detials .options .option3:hover {
  background-color: #fda5d5;
}
.two .detials .options .option4:hover {
  background-color: #8ec5ff;
}
.two .detials .options .option5:hover {
  background-color: #dab2ff;
}
.two .detials .options .option1,
.two .detials .options .option2,
.two .detials .options .option3,
.two .detials .options .option4 {
  margin-bottom: 0.75rem;
}
/*end two */
/* end right */
/* end ARTICLES sectiom  */

/* start Authors Section */
.authors-section {
  border: 2px solid #000;
  padding: 80px 0;
  background-color: #ffd230;
}
.authors-section .author-header,
.community-header {
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}
.author-header h2,
.community-header h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.author-header p,
.community-header p {
  color: #525252;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.authors-section .author-header::after,
.community-section .community-header::after {
  content: "";
  width: calc(0.25rem * 32);
  height: calc(0.25rem * 2);
  background-color: #000;
  position: absolute;
  top: 120%;
  left: calc(50% - calc(0.25rem * 16));
  transform: rotate(-1deg);
}
.authors-section .authors-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.authors-section .authors-cards .author-card {
  transform: var(--transition-function);
}
.authors-section .authors-cards .author-card:hover {
  transform: translate(-2px, -2px);
}
.authors-section .authors-cards .author-card-one {
  background-color: #fef9c2;
}
.authors-section .authors-cards .author-card-two {
  background-color: #dbfce7;
}
.authors-section .authors-cards .author-card-three {
  background-color: #fce7f3;
}
.author-card {
  background-color: #8094c0;
  width: calc(33.333% - 20px);
  box-shadow: 6px 6px #000;
  border: 4px solid #000;
  transition: var(--transition-function);
  padding: 2rem;
}
.author-card-one:hover h3 {
  color: #f13f38;
}
.author-card-two:hover h3 {
  color: #2b7fff;
}
.author-card-three:hover h3 {
  color: #ad46ff;
}
.authors-section .author-card .author-image {
  margin-bottom: 24px;
  position: relative;
}
.authors-section .author-card .author-image .tag {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #f13f38;
}
.authors-section .author-card .author-image .tag-2 {
  background-color: #2b7fff;
}
.authors-section .author-card .author-image .tag-3 {
  background-color: #ad46ff;
}
.authors-section .author-card .author-image .image {
  width: calc(var(0.25rem) * 32);
  height: calc(var(0.25rem) * 32);
  display: flex;
  justify-content: center;
}
.authors-section .author-card .author-image .image img {
  width: 40%;
  border: 4px solid #000;
}

.authors-section .author-card .author-text {
  text-align: center;
}
.authors-section .author-card .author-text h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 36px;
  margin-bottom: 0.5rem;
  transition: var(--transition-function);
}
/* end Authors Section */
.authors-section .author-card .author-text h3 + p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 1rem;
  color: #525252;
}
.authors-section .author-card .author-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1.5rem;
}
.authors-section .author-card .author-text ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.authors-section .author-card .author-text ul li:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px #000;
}
.authors-section .author-card .author-text ul .link-1:hover {
  background-color: #1da1f2;
}
.authors-section .author-card .author-text ul .link-2:hover {
  background-color: #155dfc;
}
.authors-section .author-card .author-text ul .link-3:hover {
  background-color: #e60076;
}
.authors-section .author-card .author-text ul li {
  width: calc(0.25rem * 12);
  height: calc(0.25rem * 12);
  background-color: #000;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-function);
}
.author-text ul li .image {
  width: 24px;
}
/* end Authors Section */
/* start  community section */
.community-section {
  padding: 80px 0;
  background-color: #f5f5f5;
  border: 2px solid #000;
}
.community-section .community-parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.community-section .community-parent .child-left,
.community-section .child-right {
  width: calc(50% - 40px);
}
.community-section .community-parent .child-left h3 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.community-section .community-parent .child-left p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 3px 3px #000;
  border: 2px solid #000;
}
.community-parent .child-left .item-child {
  display: flex;
  align-items: center;
}
.community-parent .child-left .item-child .image {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin-right: 1rem;
}
.community-parent .child-left .item-space {
  margin-bottom: 1.5rem;
}
.community-parent .child-left .item-child .image img {
  width: 50%;
}
.community-parent .child-left .item-1 .image {
  background-color: #fb2c36;
}
.community-parent .child-left .item-2 .image {
  background-color: #2b7fff;
}
.community-parent .child-left .item-3 .image {
  background-color: #ad46ff;
}
.community-parent .child-left .item-4 .image {
  background-color: #00c950;
}
.community-parent .child-left .item-child span {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}
.community-parent .child-left .sec-four-btn {
  margin-top: 3rem;
}
.community-parent .child-left .sec-four-btn button {
  padding: 1.5rem 3rem;
}
.community-parent .child-left .sec-four-btn button span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.community-section .child-right {
  padding: 2.5rem;
  background-color: white;
  box-shadow: 6px 6px #000;
  border: 4px solid #000;
}
.community-section .child-right h4 {
  font-size: 1.857rem;
  font-weight: 900;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}
.community-section .child-right .r-card {
  padding: 1rem 1.5rem;
  border: 2px solid #000;
}
.community-section .child-right .r-card-1 {
  background-color: #fef2f2;
}
.community-section .child-right .r-card-2 {
  background-color: #eff6ff;
}
.community-section .child-right .r-card-3 {
  background-color: #faf5ff;
}
.community-parent .child-right .right-cards .r-card > p {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.81rem;
  margin-bottom: 2rem;
}
.child-right .right-cards .r-card .card-foot {
  display: flex;
  align-items: center;
}
.child-right .right-cards .r-card .card-foot .image {
  width: 3rem;
  height: 3rem;
  border: 2px solid #000;
  margin-right: 1rem;
}
.child-right .right-cards .r-card .card-foot .name > div {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.child-right .right-cards .r-card .card-foot .name p {
  color: #525252;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.card-space {
  margin-bottom: 2rem;
}
/* end  community section */
.
/* start footer section */
footer-section {
  background-color: #000000;
  padding: 80px 0;
  color: #ffffff;
}
.footer-section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer-section .foot-1,
.footer-section .foot-3 {
  width: 40%;
}
.footer-section .foot-2 {
  width: calc(20% - 3rem);
}

.footer-section .foot-head {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-section .foot-head h2 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.25rem;
}
.footer-section .foot-head .image {
  width: 4rem;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: 2px solid #000;
}
.footer-section .foot-head .image img {
  width: 50%;
}
.footer-section .foot-head + p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.81rem;
  margin-bottom: 2rem;
}
.foot-2 h3,
.foot-3 h3 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.foot-2 ul li.space {
  margin-bottom: 1rem;
}

.foot-2 ul li a {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #fff;
  transition: var(--transition-function);
}
.foot-2 ul li:hover a {
  color: #ffdf20;
}
.container .foot-3 > p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.81rem;
  margin-bottom: 1.5rem;
}
.container .foot-3 input {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.81rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #fff;
  background-color: transparent;
  margin-bottom: 1rem;
}
.container .foot-3 button {
  width: 100%;
  padding: 1rem 0;
  background-color: oklch(90.5% 0.182 98.111);
  border: 4px solid #000;
  box-shadow: -4px -4px 0 0 rgba(0, 0, 0, 0.2) inset;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  transition: var(--transition-function);
}

.container .foot-3 input:focus {
  border-color: #ffdf20;
  outline: none;
}
.container .foot-3 button:hover {
  transform: translate(4px, 4px);
  background-color: #fdc700;
}
.copy-right {
  width: 100%;
  border-top: 4px solid #fff;
  padding: 2rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-section .container .copy-right a {
  color: #fff;
  transition: var(--transition-function);
}
.footer-section .container .copy-right a:hover {
  color: #ffdf20;
}
.footer-section .container .copy-right a.spc {
  margin-right: 2rem;
}
/* end footer section */
/* media */
/* @media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
} */
@media (max-width: 1280px) {
}
@media (min-width: 1536px) {
}
